<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Adicionar Empregado</title>
	<link rel="stylesheet" type="text/css"  href="/css/add-employee.css">
</head>
<body>
<div class="container">
	<header>
		<img class="logo" src="../images/Logo.png" alt="" />
		<div>
			<h2>Adicionar Empregado</h2>
			<p>Informe os dados abaixo</p>
		</div>
	</header>
	<form action="#" th:action="@{salvarEmpregado}" th:object="${empregado}" method="POST">
		<div class="nome-div">
			<label for="nome">Nome do Empregado</label>
			<input type="text" name="Nome" id="Nome" placeholder="Ryan Silva" th:value="*{nome}" th:field="*{nome}" />
		</div>
		<div class="email-div">
			<label for="email">Endereço e-mail</label>
			<input
					type="text"
					name="Endereço e-mail"
					id="email"
					placeholder="exemplo@gmail.com"
					th:value="*{email}" th:field="*{email}"
			/>
		</div>
		<div class="image-div">
			<label for="image">Foto do empregado</label>
			<input
					type="text"
					name="Link da imagem"
					id="image"
					placeholder="Link para a imagem"
					th:value="*{image}" th:field="*{image}"
			/>
		</div>
		<div class="departamento-div">
			<label for="departamento">Departamento</label>
			<input
					type="text"
					name="Departamento"
					id="Departamento"
					placeholder="Desenveolvimento Web"
					th:value="*{departamento}" th:field="*{departamento}"
			/>
		</div>
		<div class="horario-div">
			<label for="horario">Horário de trabalho</label>
			<input
					type="text"
					name="horario"
					id="horario"
					placeholder="08:00 - 16:00"
					th:value="*{horario}" th:field="*{horario}"
			/>
		</div>
		<div class="trabalhando-div">
			<label for="trabalhando">Trabalhando em</label>
			<input
					type="text"
					name="trabalhando"
					id="trabalhando"
					placeholder="Homepage do projeto"
					th:value="*{emExecucao}" th:field="*{emExecucao}"
			/>
		</div>
		<input
				type="submit"
				name="submit"
				id="submit"
				value="Adicionar Empregado"
		/>
		<input type="hidden" th:field="*{id}" />
	</form>
	<footer>
		<a th:href="@{/list}">Voltar</a>
	</footer>
</div>
</body>
</html>